<header id="topnav" class="navbar navbar-inverse navbar-fixed-top clearfix" role="banner">

	
	<a id="leftmenu-trigger" class="" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar" ng-click="tooltip()"></a>
	<a class="navbar-brand" href="#">Avalon</a><div class="yamm navbar-left navbar-collapse collapse">
		<ul class="nav navbar-nav">			
			<li ng-repeat="p in rootMenus"><a ng-bind="p.name"></a></li>
			<!-- <li><a href="#" >menu2</a></li>			
			<li><a href="#" >menu3</a></li>
			<li><a href="#" >menu4</a></li> -->
		</ul>
	</div>
	<!-- <a id="rightmenu-trigger" class="" data-toggle="tooltip" data-placement="left" title="Toggle Infobar" ng-click="tooltip()"></a> -->
	

	


</header>