<div class="static-sidebar">
	<div class="sidebar">

		<div class="widget stay-on-collapse">
			<div class="widget-body welcome-box tabular">
				<div class="tabular-row">
					<div class="tabular-cell welcome-avatar">
						<a href="#">
							<img src="assets/demo/avatar/avatar_06.png" class="avatar"></a>
					</div>
					<div class="tabular-cell welcome-options">
						<span class="welcome-text">Welcome,</span>
						<a href="#" class="name">Alexander Smith</a>
					</div>
				</div>
			</div>
		</div>

		<div class="widget stay-on-collapse">
			<div class="widget-heading">Functional Apps</div>
			<nav class="widget-body">
				<ul class="acc-menu">
					<li ng-repeat="p in nextMenus">
						<a ng-bind="p.name" ui-sref="app.cloud"></a>
					</li>
					<!-- <li>
					<a href="app-tasks.html"> <i class="fa fa-tasks"></i>
						<span>Tasks</span>
						<span class="badge badge-info">7</span>
					</a>
				</li>
				<li>
					<a href="app-notes.html"> <i class="fa fa-pencil-square-o"></i>
						<span>Notes</span>
					</a>
				</li>
				<li>
					<a href="app-todo.html">
						<i class="fa fa-check"></i>
						<span>Todo</span>
						<span class="badge badge-dark">10</span>
					</a>
				</li>
				-->
			</ul>
		</nav>
	</div>

</div>
</div>